*.py[cod]
__pycache__

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
MANIFEST

# Installer logs
pip-log.txt

# Development pipfiles and venv
Pipfile
Pipfile.lock
.venv

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Sphinx
_build
