language: python
python:
  - "2.5"
  - "2.6"
  - "2.7"
env:
  - DJANGO=Django==1.3.4 DB=sqlite
  - DJANGO=Django==1.3.4 DB=postgres
  - DJANGO=Django==1.3.4 DB=mysql
  - DJANGO=Django==1.4.2 DB=sqlite
  - DJANGO=Django==1.4.2 DB=postgres
  - DJANGO=Django==1.4.2 DB=mysql
  - DJANGO=https://github.com/django/django/zipball/master DB=sqlite
  - DJANGO=https://github.com/django/django/zipball/master DB=postgres
  - DJANGO=https://github.com/django/django/zipball/master DB=mysql
matrix:
  exclude:
    - python: "2.5"
      env: DJANGO=https://github.com/django/django/zipball/master DB=sqlite
    - python: "2.5"
      env: DJANGO=https://github.com/django/django/zipball/master DB=postgres
    - python: "2.5"
      env: DJANGO=https://github.com/django/django/zipball/master DB=mysql
before_script:
  - flake8 modeltranslation
  - mysql -e 'create database modeltranslation;'
  - psql -c 'create database modeltranslation;' -U postgres
install:
  - pip install -q mysql-python --use-mirrors
  - pip install -q psycopg2 --use-mirrors
  - pip install -q Pillow --use-mirrors
  - pip install -q flake8 --use-mirrors
  - pip install -q $DJANGO
  - pip install -e . --use-mirrors
script:
  - ./runtests.py
